
body {
	background-color: #ffff;
}
.centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gif {
	width: 30%;
	height: 80%;
}
#image1 {
	margin: 0;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  pointer-events: none;
}
.links {
	position: fixed;
	margin-top: 20px;
	left: 70%;
	font-size: 130%;
	width: 300px;
	list-style: square;
}
#notes {
	position: fixed;
	list-style-type: none;
	margin: 0;
	transform: translate(10px, 200px);
	width: 400px;
	height: 300px;
	overflow-y: auto;
	border: 1px solid black;
	padding: 10px;
}
.chr {
	position: fixed;
	margin-top: 20px;
	font-size: 120%;
	transform: translate(15px, 510px);
	list-style: square;	
}
.opacity {
	opacity: 0%;
}
#background-animation_ {
  z-index: 3;
  background-color: #FF8DFD;
  position: absolute;
  transform: translate(-3360%, -1700%);
  cursor: default;
  width: 1.5%;
  height: 3%;
  top: 50%;
  left: 50%;
	user-select: none;
}

.holder{
    position:relative;
}
.frame1 {
      width: 100%;
      height: calc(100vh - 35px);
      border: none;
      position: relative;
      z-index: 1;
      overflow: auto;
      user-select: none;
}

#background-handdler_ {
	transition: background-color 0.5s ease
}
