
body {
	background-color: #ffff;
	overflow: hidden;
}
.centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gif {
	width: 30%;
	height: 80%;
}
#image1 {
	margin: 0;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  pointer-events: none;
}
.opacity {
	opacity: 0%;
}
#text0 {
	position: absolute;
	transform: translate(79%, -322%);
	background-color: black;
	width: 8%;
	height: 3%;
	top: 50%;
  left: 50%;
}
#text1 {
	position: absolute;
	transform: translate(96%, 195%);
	cursor: pointer;
	background-color: black;
	width: 9.5%;
	height: 3%;
	top: 50%;
  left: 50%;
}
#text2 {
	position: absolute;
	transform: translate(-360%, 306%);
	cursor: pointer;
	background-color: black;
	width: 5%;
	height: 3%;
	top: 50%;
  left: 50%;
}
#button1 {
	position: absolute;
	transform: translate(-173%, 433%);
	cursor: pointer;
	background-color: black;
	width: 12.4%;
	height: 5%;
	top: 50%;
  left: 50%;
}
#button2 {
	position: absolute;
	transform: translate(73%, 431%);
	cursor: pointer;
	background-color: black;
	width: 12.5%;
	height: 5%;
	top: 50%;
  left: 50%;
}
.links {
	position: fixed;
	margin-top: 20px;
	left: 70%;
	font-size: 130%;
	width: 300px;
	list-style: square;
}
#notes {
	position: fixed;
	list-style-type: none;
	margin: 0;
	transform: translate(10px, 200px);
	width: 400px;
	height: 300px;
	overflow-y: auto;
	border: 1px solid black;
	padding: 10px;
}
.chr {
	position: fixed;
	margin-top: 20px;
	font-size: 120%;
	transform: translate(15px, 510px);
	list-style: square;	
}
  #background-animation_ {
  z-index: 3;
  background-color: #FF8DFD;
  position: absolute;
  transform: translate(-1860%, 100%);
  cursor: default;
  width: 1%;
  height: 3%;
  top: 50%;
  left: 50%;
	user-select: none;
}

.holder{
    position:relative;
}
.frame1 {
      width: 100%;
      height: calc(100vh - 35px);
      border: none;
      position: relative;
      z-index: 1;
}

#background-handdler_ {
	transition: background-color 0.5s ease
}
